<section class="stripe_section map" style="background-image: url({{base_dir}}/assets/images/ameco_map.jpg)">
    <div class="grid boxed">

        <div class="col col-10 col-sm">
            <div class="map_content">
                <div class="section-title">
                    <h3>Come raggiungerci  <a target="_blank" href="https://www.google.com/maps/place/Vicolo+d'Orfeo,+1,+00193+Roma+RM/@41.903048,12.4522201,15.23z/data=!4m6!3m5!1s0x132f60677e640001:0x48348d5af8ab68fd!8m2!3d41.9033304!4d12.4608306!16s%2Fg%2F11ggs3pfzr" class="chip ">Apri la mappa</a></h3>
                </div> 
                <h4>Come arrivare in Vicolo d’Orfeo 1 – 00193 Roma</h4>
                <p>
                    La sede dell’A.Me.Co., situata <strong>a soli 200 metri da San Pietro</strong>, è molto ben collegata con le varie parti della città ed è raggiungibile con numerosi mezzi pubblici. Qui di seguito sono elencate alcune indicazioni relative ai possibili mezzi di trasporto e alle zone da raggiungere per arrivare in <strong>vicolo d’Orfeo, 1</strong>.
                </p>
                <ul>
                    <li>Metro <strong>A</strong> – Ottaviano</li>
                    <li>Tram <strong>19</strong> – Piazza Risorgimento</li>
                    <li>Bus <strong>40</strong> e <strong>62</strong> – Via Traspontina</li>
                    <li>Bus <strong>81 32 590 23 49 271 492 990 982</strong> – Piazza Risorgimento</li>
                    <li>Bus <strong>23 34 40 271 982</strong> – Piazza Pia</li>
                </ul>
            </div>
        </div>
    </div>
</section>
